{% if latest != None %}
</br>
<h3 class="font-weight-bold mb-2 text-center">Recent Posts</h3>

{% for latest in latest %}
<div class="list-group" >
    <a  href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h5">{{latest.title}}</h5>
        <img class="img-rounded w-50  p-3" src="{{latest.himage.url}}" alt="Sample image"> 
        </div>
        <p class="mb-2">{{latest.body|safe |truncatewords:10|linebreaks}}</p>
            <small class="text-muted">{{latest.publish}}</small>
    </a>
</div>
{% endfor %}
{% endif  %}
