{% extends "blog/base.html"%}
{%load blog_tags %}
{% load comments %}

{% block title%}My Blog{% endblock%}

{%block content%}
<!-- change below this  -->
<div class="container mt-5">


    <!--Section: Content-->
    <section>

        <style>
@media (max-width: 992px) {
    .news-tile .card-title {
        font-size: 1.2rem;

    }

}

      .news-tile .card-title {
          position: absolute;
          bottom: 15px;
          left: 30px;
          text-align: left;

      }
      .news-tile h4 {
          font-size: 1.2rem;

      }

      .news-tile h3 {
          font-size: 1.6rem;

      }

      .rgba-stylish-strong {
          background-color: rgba(62, 69, 81, .5);

      }

      .view:hover {
          -webkit-filter: brightness(140%);
          transition: all .4s ease-in-out;

      }

      .view {
          transition: all .4s ease-in-out;

      }
        </style>
        </br>
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12">

<!-- this is from inclusion_tag bring the latest post -->
                {% recent_left %}
                <!--News stream -->
                <!-- Section: Blog v.3 -->
                <section class="my-5">

                    <hr class="my-5">
                    <!-- Grid row -->

                    {% for post in posts%}
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-6 col-xl-4">

                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                <img class="img-fluid" src="{{post.himage.url}}" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-7 col-xl-8">

                            <!-- Post title -->
                            <h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
                            <!-- Excerpt -->
                            <p class="dark-grey-text">
                                {{post.body|safe |truncatewords:30|linebreaks}}
                                et aut officiis debitis cum soluta nobis est eligendi placeat facere aut rerum.</p>
                            <!-- Post data -->
                            <p class="card-text"><small class="text-muted">
                                    Published {{post.publish}} by {{post.author}}
                                    {% get_comment_count for post  as comment_count %}
                                    {% if comment_count %}
                                    &sdot;&nbsp;{{ comment_count  }} comment{{ comment_count|pluralize  }}
                                    {% endif %}
                                    <p class="tags">Tags:  {{post.tags.all|join:","}}</p>
                                </small></p>

                            <!-- Read more button -->
                                <a href="{{post.get_absolute_url}}" style="background-color:#19647E; color:#EEE5E5"  class="btn  btn-rounded mx-0">Read more ...</a>


                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <hr class="my-5">
                    {% endfor %}
                </section>
                <!-- Section: Blog v.3 -->
                <!--End stream -->

           </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
<!-- this is from inclusion_tag bring 2 latest posts -->
                {% recent_right %}
                {% latests %}
                    </br>
                <div style="background-color:#DDCECD; width:100%;padding-top:2em;"class="badge  text-wrap" >
                <p><a style="color:#37392E;" href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Content-->


</div>
<!-- change above this   -->
{% include 'blog/pagination.html' with page=page_obj %}
{% endblock%}
